/*
CORES
VERDE ESCURO: #065902
VERDE MAIS CLARO: #078C31
AMARELO: #F2B705
VERMELHO MAIS CLARO: #F03733
VERMELHO ESCURO: #D90404

CINZA ESCURO: #404040
CINZA BEM CLARO: #F7F7F7
*/

* {
   margin: 0; padding: 0; box-sizing: border-box;
}

header {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0)), url(../_imagens/secao08-background-capa.jpg);
    background-size: cover;
    background-position: center center;
    
    width: 100%;
    height: 100vh;

    border-top: 5px solid #078C31;

    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
}

nav {
    width: 95%;
    height: 200px;
    margin: 10px auto;
}

div#logo {
    float: left;
    background-image: url(../_imagens/secao08-logo-pizzaria-fontenelle.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

nav ul#esquerda {
    float: left;

}

nav ul#direita {
    float: right;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;

    margin-top: 70px;
    height: 40px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 80%;
}

nav ul a#criar-conta {
    border: 1px solid #fff;
    padding: 9px 29px;
}

nav ul li a:hover {
    background-color: #F2b705;
    transition-duration: 0.8s;
}

nav ion-icon#icone-user {
    width: 45px;
    height: 45px;

    color: white;
    margin-top: -13px;
    margin-left: 20px;
}

nav ion-icon#icone-user:hover {
    color: #F2b705;
    cursor: pointer;
}

header div#chamada {
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/*-----------------------------*/
/* SEÇÃO - DOMINGO PERFEITO    */
/*-----------------------------*/

section#domingo-perfeito {
    width: 100%;
    padding: 40px 0 80px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
 

}

div#domingo-perfeito-esquerda, div#domingo-perfeito-direita {
    position: relative;
    width: 15%;

    background-color: #F2b705;
}

div#domingo-perfeito-centro {
    width: 65%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

div#pontos-chaves-mestre {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

div.pontos-chaves {
    text-align: center;
    width: 25%;
}

section#domingo-perfeito div.pontos-chaves ion-icon {
    width: 75px;
    height: 75px;
    color: #f03733;
}
